<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="createTicket()">Create New</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-6">
    <ticketing-ticket-list-filter-form
      [currentFilter]="currentFilter$ | async"
      [users]="users$ | async"
      (filter)="onFilterTickets($event)"
    ></ticketing-ticket-list-filter-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <ticketing-ticket-list-grid
      [tickets]="tickets$ | async"
      [isLoading]="isLoading$ | async"
      (view)="onViewTicket($event)"
      (update)="onUpdateTicket($event)"
      (order)="onOrderTicket($event)"
    ></ticketing-ticket-list-grid>
  </div>
</div>
