<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user$ | async">
  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="nav-item nav-link" routerLink="/tickets" routerLinkActive="active"
      >Tickets</a
    >
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user$ | async }">
  <div class="row mb-3">
    <div class="col-12 error">
      <alert></alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
