JWT_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZZd0VBWUhLb1pJemowQ0FRWUZLNEVFQUFvRFFnQUVjMkZ2RVY0MFh2UXFRUnpwY2ptN0xQMkNHcTAxWVBQVgpkNnNxcVoycHZNdlI2M2Y3UkV4djlIZGI2Q0VGZThhY2JOQUhoeGd0c0hNSzF4amJ1MC9zOXc9PQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0K
JWT_PRIVATE_KEY=LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IUUNBUUVFSU40cGNSbjlCYWZwREZ0Z0ZLK3lIckIzNjdvSGs5VjNXZHowY2FoR3FxY2FvQWNHQlN1QkJBQUsKb1VRRFFnQUVjMkZ2RVY0MFh2UXFRUnpwY2ptN0xQMkNHcTAxWVBQVmQ2c3FxWjJwdk12UjYzZjdSRXh2OUhkYgo2Q0VGZThhY2JOQUhoeGd0c0hNSzF4amJ1MC9zOXc9PQotLS0tLUVORCBFQyBQUklWQVRFIEtFWS0tLS0tCg==
SESSION_KEY=R9tHloicV0JY1IRoz2xcQ6CFJ66aKI2MessuIUYStEM=
# then use with yarn k8s:jwt-secret
